body {
  overflow-x: hidden;
  font-family: 'Passion One';
  background-color: #0000ff;
  &.landing-page {
    overflow-y: hidden;
  }
}

.circle-cursor {
  transform: translate(50%, -50%);
  z-index: 11;
  background-color: yellow;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: fixed;
  left: -50px;
  top: -50px;
}

h1 {
  text-transform: uppercase;
  font-size: 80px;
  z-index: 10;
}
